* {
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow: visible;
}

html::-webkit-scrollbar {
  width: 0;
}

body {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
}

.title {
  color: #ffb600;
  font-family: "Paytone One";
  font-size: 4vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline;
  margin-left: 6%;
  margin-right: 6%;
}

.upload_block {
  display: inline;
  border-radius: 5rem;
  border: 29px solid #ffb600;

  background: rgba(0, 156, 222, 0.65);

  box-shadow: 84px 31px 0px 4px rgba(0, 176, 251, 0.74);
}

.upload_but {
  border: 0.6vw solid #004a88;

  stroke: #ffb600;
  color: #004a88;
  text-shadow: 0.5vw 0.3vw 0px #ffb600;
  font-family: "Paytone One";
  font-size: 7vw;
  font-style: normal;
  border-radius: 3vw;
  background-color: #009cde;
  padding-bottom: 1%;
  padding-inline: 0;
  padding-left: 7%;
  padding-right: 10%;

  transition: 0.2s all;
}

.upload_but[disabled] {
  cursor: default;
}

.upload_but:hover:not([disabled]) {
  background: #ffb600;
  /* Цвет фона */
  font-size: 8vw;
  padding-bottom: 2%;
  padding-left: 4%;
  padding-right: 4%;
}

.upload_pdf {
  border: 0.8vw solid #ffb600;

  color: #ffb600;
  text-shadow: 0.5vw 0.2vw 0px #004a88;
  font-family: Audiowide;
  font-size: 3vw;
  font-style: normal;
  overflow: hidden;
  line-height: normal;
  border-radius: 2vw;
  background-color: #009cde;
  padding: 0% 3% 0% 3%;

  margin: 2vw 1vw 0vw 1vw;
  transition: 0.2s all;
  white-space: nowrap;
  text-overflow: ellipsis;

}

.upload_pdf:hover {
  background: #ffb600;
  /* Цвет фона */
  text-shadow: 0vw 0vw 0px #004a88;
  color: #004a88;
  font-size: 3vw;
}

.outside_main {
  text-align: center;
  margin-left: 19vw;
  margin-top: 5vw;
}

.main {
  display: inline;
}

.mini {
  padding: 7vw 10vw 0vw 10vw;
  width: 35vw;
  height: 22vw;
  border-radius: 5rem;
  border: 1.6vw solid #ffb600;

  background: rgba(0, 156, 222, 0.65);

  box-shadow: 5vw 1.5vw 0px 4px rgba(0, 176, 251, 0.74);
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.email_text_a {
  display: inline;
  margin-left: 58vw;
  color: #ffb600;
  font-family: "Paytone One";
  font-size: 2vw;
  font-style: normal;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.email_text_a:hover {
  color: #004a88;
  /* Меняем цвет текста */
}

.inst_text {
  margin-left: 1vw;
  color: #ffb600;
  font-family: "Paytone One";
  font-size: 2vw;
  font-style: normal;
  line-height: normal;
  display: inline;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.inst_text:hover {
  color: #004a88;
  /* Меняем цвет текста */
}

.main_text {
  color: #ffb600;
  font-family: "Post No Bills Jaffna ExtraBold", sans-serif;
  font-size: 6vw;
  font-style: normal;
  line-height: normal;
  text-align: center;
  margin-top: 2vh;
}

.info_text {
  color: #fff;
  font-family: "Rubik One";
  font-size: 2rem;
  padding: 2em;
}

.main_text_block {
  text-align: center;
  margin-left: 15vw;
  margin-right: 15vw;
  border-radius: 4.8125rem;
  border: 1rem solid #ffb600;
  background: #0b90d5;
}

.main_contact_block {
  text-align: center;
  margin-left: 31vw;
  margin-right: 30vw;
  border-radius: 2rem;
  border: 0.5rem solid #ffb600;
  background: #0b90d5;
  text-align: left;
  padding-left: 2vw;
}

.info_contact {
  color: #fff;
  font-family: "Rubik One";
  font-size: 2rem;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

span {
  color: #ffb600;
}

.enjoy_but {
  text-align: center;
  background-color: #ffb600;
  font-size: 2.5rem;
  color: #004a88;
  border-radius: 2rem;
  margin-left: 31vw;
  margin-right: 30vw;
  margin-top: 5vh;
  font-family: "Post No Bills Jaffna ExtraBold", sans-serif;
  padding-bottom: 3vh;
  padding-top: 3vh;
  transition: 0.2s all;
}

.enjoy_but:hover {
  background-color: #004a88;
  color: #ffb600;
}