<script>
  // Определение размера экрана и выбор файлов HTML и CSS
  document.addEventListener("DOMContentLoaded", function () {
    var pageWidth = window.screen.width;

    if (pageWidth > 800) {
      document.write("<style>iframe {width:100vw; height:100vh}</style>");
      // Для десктопа
      document.write('<link rel="stylesheet" href="static/main/d_style.css">');
      document.write(
        '<iframe style="width: 100vw; height: 100vh; margin: 0; border: 0;" src="static/main/d_index.html"></iframe>'
      );
    } else {
      document.write("<style>iframe {width:100vw; height:100vh}</style>");
      document.write('<link rel="stylesheet" href="static/main/m_style.css">');
      document.write(
        '<iframe style="width: 100vw; height: 100vh; margin: 0; border: 0;" src="static/main/m_index.html"></iframe>'
      );
    }
  });
</script>
